nav {
  height: 75px;
}

.pd-reset {
  padding: 0;
}

.mg-reset {
  margin: 0;
}

.pd-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.rounded-xl {
  border-radius: 1rem;
}



.card {
  color: black;
  &:hover {
      background: $primary;
      color: white;
      text-decoration: none;
  }
};
.shadow-box {
  box-shadow: (0 2px 2px rgba(0, 0, 0, 0.08));
}

.main-height {
  height: calc(100vh - (75px + 2 * 3rem));
}
.chat-height {
  height: calc(100vh - (91px + 87px + 2 * 3rem));
}

.header-chat {
  height: 91px;
}

.message-width {
  max-width: 558px;
}
.w-h-50 {
  width: 50px;
  height: 50px;
}
.invert-color {
  filter: invert(1);
}
.footer-left-chat {
  bottom: 72px;
  z-index: 1000;
  background: white;
}