nav {
  height: 72px;
}
.nav-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  filter: invert(1);
}

.nav-logo-icon {
  width: 15px;
  height: 25px;
  filter: invert(1);
}

.pd-reset {
  padding: 0;
}

.mg-reset {
  margin: 0;
}

.pd-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.rounded-xl {
  border-radius: 1rem;
}

@mixin hide-scrollbar() {
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow-y: auto;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
};

.scrollbar {
  @include hide-scrollbar();
}

.card {
  color: black;
  &:hover {
      background: $primary;
      color: white;
      text-decoration: none;
  }
};

.card-img {
width: 50px;
height: 50px;
}

.main-height {
  height: calc(100vh - (72px + 2 * 3rem));;
}