nav {
  height: 75px;
}

.pd-reset {
  padding: 0;
}

.mg-reset {
  margin: 0;
}

.pd-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.rounded-xl {
  border-radius: 1rem;
}

@mixin hide-scrollbar() {
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow-y: auto;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
};

.scrollbar {
  @include hide-scrollbar();
}

.card {
  color: black;
  &:hover {
      background: $primary;
      color: white;
      text-decoration: none;
  }
};

.main-height {
  height: calc(100vh - (75px + 2 * 3rem));;
}
.chat-height {
  height: calc(100vh - (91px + 87px + 2 * 3rem));;
}

.header-chat {
  height: 91px;
}

.message-width {
  width: calc(100% - (2 * 5rem));;
}
.w-h-50 {
  width: 50px;
  height: 50px;
}
.invert-color {
  filter: invert(1);
}