doctype html
html(lang="ru")
    head
        - var page = 'chat'
        include pugs/head.pug
    body.bg-gray.container-xxl.body-container
        .row.w-100.mg-reset.rounded-xl.overflow-hidden
            section.col-md-5.col-lg-4.col-12.pd-reset.d-flex.flex-column
                include pugs/header.pug
                main#nav-tabContent.tab-content.bg-white.border-right.main-height.scrollbar
                    include pugs/left-chat.pug
                    include pugs/contacts.pug
                    include pugs/messages.pug
                    include pugs/profile.pug
            include pugs/rigth-chat.pug

