<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        link(rel="stylesheet" href="styles/app.css")
        title Hexlet
    body.bg-secondary
    .container-xxl.pd-container.vh-100
        .row.h-100.w-100.mg-reset.rounded-xl.overflow-hidden
            section.col-md-5.col-lg-4.col-12.pd-reset
                include pugs/header
                include pugs/contacts
            section.col-md-7.col-lg-8.pd-reset.bg-white.d-none.d-flex.justify-content-center.align-items-center
                .text-center
                    img.rounded-pill.mb-3(src="../images/avatar_1.jpg", alt="chat")
                    h6.bold Привет, Кодовёнок
                    p.small.text-muted Выбери чат, чтобы начать общаться




