doctype html
html(lang="ru")
    head
        include pugs/head.pug
    body.bg-gray.container-xxl.body-container
        .row.w-100.mg-reset.rounded-xl.overflow-hidden
            section.col-md-5.col-lg-4.col-12.pd-reset.d-flex.flex-column
                include pugs/header.pug
                main#nav-tabContent.tab-content.bg-white.border-right.main-height.scrollbar
                    include pugs/contacts.pug
                    include pugs/messages.pug
                    include pugs/profile.pug
            section.col-md-7.col-lg-8.pd-reset.bg-white.d-none.d-md-flex.justify-content-center.align-items-center
                include pugs/welcome.pug
    




