header
    nav.navbar.bg-primary.flex-nowrap.justify-content-between
        img.nav-logo-icon.mr-4(src="./images/icons/logo.svg", alt="logo")
        .d-flex.flex-wrap.flex-nowrap.justify-content-xl-around.justify-content-end.w-100
            a(href="#")
                img.nav-icon.mr-xl-0.mr-4(src="./images/icons/people.svg", alt="contats")
                span.text-white.small.d-none.d-xl-inline Контакты
            a(href="#")
                img.nav-icon.mr-xl-0.mr-4(src="./images/icons/chat.svg", alt="messages")
                span.text-white.small.d-none.d-xl-inline Сообщения
            a(href="#")
                img.nav-icon(src="./images/icons/person.svg", alt="profile")
                span.text-white.small.d-none.d-xl-inline Профель