nav.navbar.bg-primary.flex-nowrap.justify-content-between
    img.mr-4.invert-color(src="./images/icons/logo.svg", alt="logo" width='15px' height='25px')
    #nav-tab.d-flex.flex-wrap.flex-nowrap.justify-content-xl-around.justify-content-end.w-100(role="tablist")
        a#nav-chat-tab.mr-4.d-inline.d-md-none(href="#nav-chat" data-toggle="tab" role="tab" aria-controls="nav-chat" aria-selected="false")
            img.mr-2.invert-color(src="./images/icons/chat-left-text.svg", alt="chat" width='25px' height='25px')
        a#nav-contact-tab(href="#nav-contact" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="true")
            img.mr-2.mr-xl-1.mr-4.invert-color(src="./images/icons/people.svg", alt="contats" width='25px' height='25px')
            span.text-white.small.d-none.d-xl-inline Контакты
        a#nav-messages-tab(href="#nav-messages" data-toggle="tab" role="tab" aria-controls="nav-messages" aria-selected="false")
            img.mr-2.mr-xl-1.mr-4.invert-color(src="./images/icons/chat.svg", alt="messages" width='25px' height='25px')
            span.text-white.small.d-none.d-xl-inline Сообщения
        a#nav-profile-tab(href="#nav-profile" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false")
            img.mr-2.invert-color(src="./images/icons/person.svg", alt="profile" width='25px' height='25px')
            span.text-white.small.d-none.d-xl-inline Профиль