.border-md-bottom {
    border-bottom: 1px solid #efefef !important;
  }
  
  .border-lg-top {
    border-top: 1px solid #efefef !important;
  }
  
  .border-sm {
    border: 1px solid #efefef !important;
  }