.radius-left-top {
    border-top-left-radius: 1rem;
  }
  
  .radius-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  
  .radius-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .radius {
    border-radius: 1rem;
  }